<div id="notice">
    <%= notice %>
</div>

<h1>Details for <%= @dog.name %> </h1>

<p>
    <strong>Id:</strong> <%= @dog.id %>
</p>
<p>
    <strong>Breed:</strong> <%= @dog.breed %>
</p>
<p>
    <strong>Age:</strong> <%= @dog.age %>
</p>
<p>
    <strong>Date Added:</strong> <%= @dog.created_at.stamp('Nov 3, 2017 at 05:30 am') %>
</p>

<%= link_to "Home", dogs_path, class: 'btn btn-default'%>
<%= link_to "Edit", edit_dog_path(@dog), class: 'btn btn-default'%>